.toggleBoxPlus {
  color: $black;
  font-size: 28px;
  text-shadow: 2px 2px grey;
}
.toggleBoxMinus {
  color: $green;
  font-size: 28px;
  text-shadow: 2px 2px grey;
}
.question {
  margin: 20px;
  font-size: 20px;
}

i {
  float: left;
}
